@import "../../shared/scss/vars";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 540px;
  height: 610px;
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 36px;
  border-radius: 26px;

  &__title {
    @include textGradient;
    line-height: 31px;
    text-align: center;
  }

  &__img {
    width: 180px;
    height: 180px;
    margin: 16px auto;
  }

  &__text {
    font-weight: 500;
    font-size: 14px;
    color: $textGray;
    line-height: 18px;
  }

  &__link {
    text-decoration: underline;
    @include textGradient;
  }

  &__gradientText {
    @include textGradient;
  }

  &__button {
    width: 220px;
    height: 40px;
    padding: 11px 16px;
    margin: 16px auto 0;
    border: none;
    border-radius: 8px;
    color: white;
    background: linear-gradient(147.26deg, $textOrange 25.72%, $textPink 75.91%);
    cursor: pointer;
  }
}

.socialMedia {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 225px;
  height: 32px;
  margin: 16px auto;
  cursor: pointer;
}